/*
body{
    position: fixed;
    background-image: url("../IMG/Background.svg");
    background-size: 50%;
    background-position: top;
    background-repeat:no-repeat;
    width: 100%;
    ￼height: 100%;
    margin: 0px;
    padding: 0px;
}
*/

body{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#IndexBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/Background.svg");
    background-size: 55%;
    background-position: top;
    background-repeat:no-repeat;
    width: 100%;
    top:-15%;
    height: 120%;
    padding: 0px;
    z-index: -999;
}

#MainBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/MainBackground.png");
    background-size: 30%;
    background-position: top;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: -999;
}

#UpBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    top: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 1;
}

#DownBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    bottom: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 2;
}

#Liner{
    border-left:2px solid #626262;
    position:absolute;
    height:80%;
    margin: 0px;
    padding: 0px;
    bottom: 10%;
    margin-right: 49.9%;
    margin-left: 49.9%;
}


.ProgectTypeBTNGroup{
    position: absolute;
    margin: 0px;
    top:15%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    height: 80%;
    width: 50%;
    z-index: -995;
}

#PhonePackagingDesignBTN,#PhoneThreeDimensionalModelingBTN,#PhoneGraphicDesignBTN,#PhonePictureBooksBTN,#PhoneAlbumBTN,#PhoneAnimationBTN{
    border: 1px solid  #c3c3c3;
}



#ProgectTypeListGroup{
    position: absolute;
    margin: 0px;
    top:15%;
    left: 2.5%;
    right: 2.5%;
    height: 85%;
    overflow-x: hidden;
    overflow-y:scroll;
    z-index: -995;
    -ms-overflow-style: none;
    overflow: -moz-hidden-unscrollable;
}

#ProgectTypeListGroup::-webkit-scrollbar {
    display: none;
}

#ProjectMetaBlock{
    position: absolute;
    background-color:#cecece;
    margin: 0px;
    padding: 0px;
    width: 22.5%;
    top: 10%;
    bottom: 5%;
    left: 0%;
}

#ProjectMainBlock{
    position: absolute;
    background-color:#cecece;
    margin: 0px;
    padding: 0px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    top: 10%;
    bottom: 5%;
}

#ImagePhotoBlock{
    position: absolute;
    background-color:#cecece;
    margin: 0px;
    padding: 0px;
    width: 22.5%;
    height:30%;
    top:10%;
    right: 0%;
}

#AboutBlock{
    position: absolute;
    background-color:#cecece;
    margin: 0px;
    padding: 0px;
    width: 22.5%;
    top: 42.5%;
    bottom: 5%;
    right: 0%;
}