* {
    font-family: "Taipei Sans TC Beta Regular";
}
  
@font-face {
    font-family: "Taipei Sans TC Beta Light";
    src: url("./TaipeiSansTCBeta-Light.ttf");
}
  
@font-face {
    font-family: "Taipei Sans TC Beta";
    src: local("TaipeiSansTCBeta-Bold"),
         url("./TaipeiSansTCBeta-Bold.ttf"),
         url("./TaipeiSansTCBeta-Bold.ttf#text88")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text92")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text106") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text110") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text90")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text94")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text120") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text124") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text130") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text32")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text36")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text98")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text102") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text136") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text140") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text144") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text148") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text84")  format("svg");
}
  
  
@font-face {
    font-family: "Taipei Sans TC Beta Bold";
    src: local("TaipeiSansTCBeta-Bold"),
         url("./TaipeiSansTCBeta-Bold.ttf"),
         url("./TaipeiSansTCBeta-Bold.ttf#text88")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text92")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text106") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text110") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text90")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text94")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text120") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text124") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text130") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text32")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text36")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text98")  format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text102") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text136") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text140") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text144") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text148") format("svg"),
         url("./TaipeiSansTCBeta-Bold.ttf#text84")  format("svg");
}
  
@font-face {
    font-family: "Taipei Sans TC Beta Regular";
    src: url("./TaipeiSansTCBeta-Regular.ttf");
}

svg {
    font-family: "Taipei Sans TC Beta";
}

body{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display:none;
}

#IndexBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/Background.svg");
    background-size: calc(100%-45%);
    background-position: top;
    background-repeat:no-repeat;
    width: 100%;
    top:-15%;
    height: 120%;
    padding: 0px;
    z-index: -999;
}

#MainBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/PhoneMenuViewBackground.svg");
    background-size: 30%;
    background-position: top;
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: -999;
}

#UpBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    top: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 1;
}

#DownBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    bottom: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 2;
}

#Liner{
    border-left:2px solid #626262;
    position:absolute;
    height:80%;
    margin: 0px;
    padding: 0px;
    bottom: 10%;
    margin-right: 49.9%;
    margin-left: 49.9%;
}


.ProjectTypeBTNGroup{
    position: absolute;
    margin: 0px;
    top:15%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    height: 80%;
    width: 50%;
    z-index: -995;
}

#PhonePackagingDesignBTN,#PhoneThreeDimensionalModelingBTN,#PhoneGraphicDesignBTN,#PhonePictureBooksBTN,#PhoneAlbumBTN,#PhoneAnimationBTN{
    border: 1px solid  #c3c3c3;
}



#ProgectTypeListGroup{
    position: absolute;
    margin: 0px;
    top:15%;
    left: 2.5%;
    right: 2.5%;
    height: 85%;
    z-index: -995;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#ProgectTypeListGroup .row {
    padding-top: calc(100% - 99.5%);
    padding-bottom: calc(100% - 99.5%);
    margin: 0;
}
#ProgectTypeListGroup .row .col{
    text-align: center;
    vertical-align: middle;
    padding-left: calc(100% - 99.5%);
    padding-right: calc(100% - 99.5%);
}

#ProgectTypeListGroup .row .col .a{
    display:flex;
    text-align: center;
    vertical-align: middle;
}

#ProgectTypeListGroup .row .col .a :hover{
    display:flex;
    text-align: center;
    vertical-align: middle;
    
}

#ProgectTypeListGroup::-webkit-scrollbar {
    display: none;
}

#ProjectMetaBlock{
    position: absolute;
    background-color:#cecece;
    text-align: justify;
    margin: 0px;
    padding: 1%;
    width: 22.5%;
    top: 10%;
    bottom: 5%;
    left: 0%;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#ProjectMetaBlock::-webkit-scrollbar {
    display:none;
}

#ProjectBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/ProjectViewBackground.svg");
    background-size: calc(100%-45%);
    background-position: top;
    background-repeat:no-repeat;
    width: 100%;
    top:-15%;
    height: 120%;
    padding: 0px;
    z-index: -999;
}

    /*
#ProjectMainViewer{
    position: fixed;
    margin: 0px;
    background: url("../IMG/StudentGroupsProjectPhoto/火柴人集體升天.png") no-repeat top center;
    background-size: cover;
    -webkit-mask: url("../IMG/ProjectViewMainViewer.svg") no-repeat center center;
    mask: url("../IMG/ProjectViewMainViewer.svg"    ) no-repeat center center;
    -webkit-mask-size: contain;
    
    mask-size: contain;
    width: 100%;
    top:-15%;
    height: 120%;
    padding: 0px;
}
*/
#ProjectMainBlock{
    position: absolute;
    /*background-color:#cecece;*/
    text-align: center;
    margin: 0px;
    padding: 1%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    top: 10%;
    bottom: 5%;
}

#ImagePhotoBlock{
    position: absolute;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    padding: 1%;
    width: 22.5%;
    height:35%;
    top:5%;
    right: 0%;
}

#ImagePhotoBlock img{
    padding: 0%;
}

#AboutBlock{
    position: absolute;
    background-color:#cecece;
    text-align: justify;
    margin: 0px;
    padding: 1%;
    width: 22.5%;
    top: 42.5%;
    bottom: 5%;
    right: 0%;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#AboutBlock::-webkit-scrollbar {
    display:none;
}

#ProjectViewUpBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    top: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 1;
}

#ProjectViewDownBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    bottom: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 2;
}

#ProjectViewLeftBtn{
    position: absolute;
    background-size: cover;
    fill: #de5b78;   
    text-align: left;
    margin: 0px;
    left:27.5%;
    right: 50%;
    width: 22.5%;
    top:45%;
    z-index: 100;
}

#ProjectViewRightBtn{
    position: absolute;
    text-align: right;
    margin: 0px;
    left:50%;
    right: 27.5%;
    width: 22.5%;
    top:45%;
    z-index: 100;
}

#MediaViewUpBtn{
    position: absolute;
    background-size: cover;
    fill: #de5b78;   
    text-align: center;
    margin: 0px;
    top: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 998;
}

#CtrlCroupView{
    position: absolute;
    vertical-align: middle;
    text-align: center;
    background-color: #00000066;
    margin: 0px;
    left:2.5%;
    width:95%;
    right:2.5%;
    bottom:7.5%;
    z-index: 998;
}

#MediaViewLeftBtn,#MediaViewRightBtn,#CloseMaskViewBtn{
    text-align: center;
}

#MediaViewLeftBtn h5:hover{
    color:rgb(255, 255, 255);   
}

#MediaViewRightBtn h5:hover{
    color:rgb(255, 255, 255);   
}

#CloseMaskViewBtn h5:hover{
    color:rgb(255, 255, 255);   
}

#MediaViewBlock{
    position: absolute;
    text-align: justify;/*
    -webkit-mask:cross( url("../IMG/Background.svg")) no-repeat center center;
    mask:cross(url("../IMG/Background.svg")) no-repeat center center;
    border-radius: 0.5%;*/
    width: 100%;
    margin: 0px;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 5;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#MediaViewBlock::-webkit-scrollbar {
    display:none;
    width: -16px;
}

.CloseBTN{
    text-align: center;
    z-index: 6;
}

#WaveGroup{
    top:120%;
    left: 0%;
    right: 0%;
    width:100%;
}
/*
#Wave1,#Wave2,#Wave3,#Wave4{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 10%;
    top:100%;
    left: -10%; 
    right: -10%; 
}

#Wave5{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 150%;
    top:100%;
    left: -10%; 
    right: -10%; 
    background-color: #0b2228;
}
*/

#Wave1{
    position: absolute;
    margin: 0px;
    width:120%;
    /*top: 5%;*/
    top: 105%;
    height: 10%;
    left: -10%; 
    right: -10%; 
}

#Wave2{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 10%;
    /*top: 15%;*/
    top:115%;
    left: -10%; 
    right: -10%; 
}

#Wave3{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 10%;
    /*top: 30%;*/
    top:130%;
    left: -10%; 
    right: -10%; 

}

#Wave4{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 10%;
    /*top: 45%;*/
    top:145%;
    left: -10%; 
    right: -10%; 
    
}

#Wave5{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 165%;
    /*top:75%;*/
    top:175%;
    left: -10%; 
    right: -10%; 
    background-color: #0b2228;
}

.Wave1Up{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 2.5s,9s;
    -webkit-animation-duration: 2.5s,9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventUp1;
    -webkit-animation-name: WaveMove,WaveEventUp1;

    animation-delay: 0s,0s;
    -webkit-animation-delay: 0s,0s;
}

.Wave2Up{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 2s,9s;
    -webkit-animation-duration: 2s,9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventUp2;
    -webkit-animation-name: WaveMove,WaveEventUp2;

    animation-delay: 0s,0s;
    -webkit-animation-delay: 0s,0s;
}


.Wave3Up{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 1.5s,9s;
    -webkit-animation-duration: 1.5s,9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventUp3;
    -webkit-animation-name: WaveMove,WaveEventUp3;

    animation-delay: 0s,0s;
    -webkit-animation-delay: 0s,0s;
}


.Wave4Up{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 1.25s,9s;
    -webkit-animation-duration: 1.25s,9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventUp4;
    -webkit-animation-name: WaveMove,WaveEventUp4;

    animation-delay: 0s,0s;
    -webkit-animation-delay: 0s,0s;
}

.Wave5Up{
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;

    animation-direction: alternate;
    -webkit-animation-direction: alternate;

    animation-direction: 9s;
    -webkit-animation-duration: 9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveEventUp5;
    -webkit-animation-name: WaveEventUp5;

    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.Wave1Down{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 2.5s,9s;
    -webkit-animation-duration: 2.5s,9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
    animation-name: WaveMove,WaveEventDown1;
    -webkit-animation-name: WaveMove,WaveEventDown1;

    animation-delay: 0s,0s;
    -webkit-animation-delay: 0s,0s;
}

.Wave2Down{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 2s,9s;
    -webkit-animation-duration: 2s,9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventDown2;
    -webkit-animation-name: WaveMove,WaveEventDown2;

    animation-delay: 0s,0s;
    -webkit-animation-delay: 0s,0s;
}


.Wave3Down{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-duration: 1.5s,9s;
    -webkit-animation-duration: 1.5s,9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventDown3;
    -webkit-animation-name: WaveMove,WaveEventDown3;

    animation-delay: 0s,0s;
    -webkit-animation-delay: 0s,0s;
}


.Wave4Down{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-duration: 1.25s,9s;
    -webkit-animation-duration: 1.25s,9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventDown4;
    -webkit-animation-name: WaveMove,WaveEventDown4;

    animation-delay: 0s,0s;
    -webkit-animation-delay: 0s,0s;
    
}

.Wave5Down{
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;

    animation-direction: alternate;
    -webkit-animation-direction: alternate;

    animation-duration: 9s;
    -webkit-animation-duration: 9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveEventDown5;
    -webkit-animation-name: WaveEventDown5;

    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes WaveEventUp1 {
    form{
        top:100%;
    }
    to{
        top:-125%;
    }
}

@-webkit-keyframes WaveEventUp2 {
    form{
        top:115%;
    }
    to{
        top:-110%;
    }
}

@-webkit-keyframes WaveEventUp3 {
    form{
        top:130%;
    }
    to{
        top:-95%;
    }
}

@-webkit-keyframes WaveEventUp4 {
    form{
        top:140%;
    }
    to{
        top:-85%;
    }
}

@-webkit-keyframes WaveEventUp5 {
    form{
        top:180%;
    }
    to{
        top:-55%;
    }
}

@-webkit-keyframes WaveEventDown1 {
    form{
        top:-125%;
    }
    to{
        top:100%;
    }
}

@-webkit-keyframes WaveEventDown2 {
    form{
        top:-110%;
    }
    to{
        top:115%;
    }
}

@-webkit-keyframes WaveEventDown3 {
    form{
        top:-95%;
    }
    to{
        top:130%;
    }
}

@-webkit-keyframes WaveEventDown4 {
    form{
        top:-85%;
    }
    to{
        top:140%;
    }
}
@-webkit-keyframes WaveEventDown5 {
    form{
        top:-55%;
    }
    to{
        top:160%;
    }
}

@keyframes WaveMove{
    from{
        right:   0%;
        left : -10%;
    }
    to{
        right: -10%;
        left :   0%;
    }
}

.mask-image {
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/ProjectViewMainViewer.svg");
    background-size: calc(100%-45%);
    background-position: top;
    background-repeat:no-repeat;
    width: 100%;
    top:-15%;
    height: 120%;
    padding: 0px;
    z-index: 997;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: top;
    mask-position: top;
    -webkit-mask-image: -webkit-cross-fade(url("../IMG/ProjectViewMainViewer.svg"),url("../IMG/ProjectViewMainViewer.svg"),100%);
    mask-image: url(#my-svg-mask);
    -webkit-mask-size: calc(100%-45%);
    mask-size: calc(100%-45%);
    mask-mode: alpha;
}

.mask-image img{
    text-align: center;
    vertical-align: middle;
}
