/*
body{
    position: fixed;
    background-image: url("../IMG/Background.svg");
    background-size: 50%;
    background-position: top;
    background-repeat:no-repeat;
    width: 100%;
    ￼height: 100%;
    margin: 0px;
    padding: 0px;
}
*/

body{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#IndexBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/Background.svg");
    background-size: calc(100%-45%);
    background-position: top;
    background-repeat:no-repeat;
    width: 100%;
    top:-15%;
    height: 120%;
    padding: 0px;
    z-index: -999;
}

#MainBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/MainBackground.png");
    background-size: 30%;
    background-position: top;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: -999;
}

#UpBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    top: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 1;
}

#DownBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    bottom: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 2;
}

#Liner{
    border-left:2px solid #626262;
    position:absolute;
    height:80%;
    margin: 0px;
    padding: 0px;
    bottom: 10%;
    margin-right: 49.9%;
    margin-left: 49.9%;
}


.ProjectTypeBTNGroup{
    position: absolute;
    margin: 0px;
    top:15%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    height: 80%;
    width: 50%;
    z-index: -995;
}

#PhonePackagingDesignBTN,#PhoneThreeDimensionalModelingBTN,#PhoneGraphicDesignBTN,#PhonePictureBooksBTN,#PhoneAlbumBTN,#PhoneAnimationBTN{
    border: 1px solid  #c3c3c3;
}



#ProgectTypeListGroup{
    position: absolute;
    margin: 0px;
    top:15%;
    left: 2.5%;
    right: 2.5%;
    height: 85%;
    overflow-x: hidden;
    overflow-y:scroll;
    z-index: -995;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox 64 */

}

#ProgectTypeListGroup .row .col{
    text-align: center;
    vertical-align: middle;
}

#ProgectTypeListGroup .row .col .a{
    display:flex;
    text-align: center;
    vertical-align: middle;
}


#ProgectTypeListGroup::-webkit-scrollbar {
    display: none;
}

#ProjectMetaBlock{
    position: absolute;
    background-color:#cecece;
    text-align: center;
    margin: 0px;
    padding: 1%;
    width: 22.5%;
    top: 10%;
    bottom: 5%;
    left: 0%;
}

#ProjectBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/ProjectViewBackground.svg");
    background-size: calc(100%-45%);
    background-position: top;
    background-repeat:no-repeat;
    width: 100%;
    top:-15%;
    height: 120%;
    padding: 0px;
    z-index: -999;
}

    /*
#ProjectMainViewer{
    position: fixed;
    margin: 0px;
    background: url("../IMG/StudentGroupsProjectPhoto/火柴人集體升天.png") no-repeat top center;
    background-size: cover;
    -webkit-mask: url("../IMG/ProjectViewMainViewer.svg") no-repeat center center;
    mask: url("../IMG/ProjectViewMainViewer.svg"    ) no-repeat center center;
    -webkit-mask-size: contain;
    
    mask-size: contain;
    width: 100%;
    top:-15%;
    height: 120%;
    padding: 0px;
}
*/
#ProjectMainBlock{
    position: absolute;
    /*background-color:#cecece;*/
    text-align: center;
    margin: 0px;
    padding: 1%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    top: 10%;
    bottom: 5%;
}

#ImagePhotoBlock{
    position: absolute;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    padding: 1%;
    width: 22.5%;
    height:30%;
    top:10%;
    right: 0%;
}

#ImagePhotoBlock img{
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
}

#AboutBlock{
    position: absolute;
    background-color:#cecece;
    text-align: center;
    margin: 0px;
    padding: 1%;
    width: 22.5%;
    top: 42.5%;
    bottom: 5%;
    right: 0%;
}

#ProjectViewUpBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    top: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 1;
}

#ProjectViewDownBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    bottom: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 2;
}

#ProjectViewLeftBtn{
    position: absolute;
    background-size: cover;
    fill: #de5b78;   
    text-align: left;
    margin: 0px;
    left:27.5%;
    right: 50%;
    width: 22.5%;
    top:45%;
    z-index: 100;
}

#ProjectViewRightBtn{
    position: absolute;
    text-align: right;
    color: aqua;
    margin: 0px;
    left:50%;
    right: 27.5%;
    width: 22.5%;
    top:45%;
    z-index: 100;
}

#MediaViewBlock{
    position: absolute;
    text-align: justify;
    background-color:hsl(0, 0%, 95%);
    border-radius: 0.5%;
    width: 95%;
    margin: 0px;
    top:2.5%;
    bottom: -5%;
    left: 2.5%;
    right: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 5;
    line-height: 1.5;
    font-size: 90%;
}

#WaveGroup{
    top:120%;
    left: 0%;
    right: 0%;
    width:100%;
}

#Wave1{
    position: absolute;
    margin: 0px;
    width:120%;
    top: 100%;
    height: 10%;
    left: -10%; 
    right: -10%; 
}

#Wave2{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 10%;
    top:100%;
    left: -10%; 
    right: -10%;
}

#Wave3{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 10%;
    top:100%;
    left: -10%; 
    right: -10%; 
}

#Wave4{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 10%;
    top:100%;
    left: -10%; 
    right: -10%; 
}

#Wave5{
    position: absolute;
    margin: 0px;
    width:120%;
    height: 150%;
    top:100%;
    left: -10%; 
    right: -10%; 
    background-color: #0b2228;
}

.Wave1Up{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 2.5s,7s;
    -webkit-animation-duration: 2.5s,7s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
    animation-name: WaveMove,WaveEventUp;
    -webkit-animation-name: WaveMove,WaveEventUp;

    animation-delay: 0s,0.5s;
    -webkit-animation-delay: 0s,0.5s;
}

.Wave2Up{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 2s,7s;
    -webkit-animation-duration: 2s,7s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventUp;
    -webkit-animation-name: WaveMove,WaveEventUp;

    animation-delay: 0s,1s;
    -webkit-animation-delay: 0s,1s;
}


.Wave3Up{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-duration: 1.5s,7s;
    -webkit-animation-duration: 1.5s,7s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventUp;
    -webkit-animation-name: WaveMove,WaveEventUp;

    animation-delay: 0s,1.75s;
    -webkit-animation-delay: 0s,1.75s;
}


.Wave4Up{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-duration: 1.25s,7s;
    -webkit-animation-duration: 1.25s,7s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventUp;
    -webkit-animation-name: WaveMove,WaveEventUp;

    animation-delay: 0s,2s;
    -webkit-animation-delay: 0s,2s;
    
}

.Wave5Up{
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;

    animation-direction: alternate;
    -webkit-animation-direction: alternate;

    animation-duration: 9s;
    -webkit-animation-duration: 9s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveEventUp;
    -webkit-animation-name: WaveEventUp;

    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.Wave1Down{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 2.5s,8s;
    -webkit-animation-duration: 2.5s,8s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
    animation-name: WaveMove,WaveEventDown;
    -webkit-animation-name: WaveMove,WaveEventDown;

    animation-delay: 0s,2.5s;
    -webkit-animation-delay: 0s,2.5s;
}

.Wave2Down{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-direction: 2s,8s;
    -webkit-animation-duration: 2s,8s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventDown;
    -webkit-animation-name: WaveMove,WaveEventDown;

    animation-delay: 0s,2s;
    -webkit-animation-delay: 0s,2s;
}


.Wave3Down{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-duration: 1.5s,8s;
    -webkit-animation-duration: 1.5s,8s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventDown;
    -webkit-animation-name: WaveMove,WaveEventDown;

    animation-delay: 0s,1s;
    -webkit-animation-delay: 0s,1s;
}


.Wave4Down{
    -webkit-animation-iteration-count: infinite,1;
    animation-iteration-count: infinite,1;

    -webkit-animation-direction: alternate-reverse,alternate;
    animation-direction: alternate-reverse,alternate;

    animation-duration: 1.25s,8s;
    -webkit-animation-duration: 1.25s,8s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveMove,WaveEventDown;
    -webkit-animation-name: WaveMove,WaveEventDown;

    animation-delay: 0s,0.5s;
    -webkit-animation-delay: 0s,0.5s;
    
}

.Wave5Down{
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;

    animation-direction: alternate;
    -webkit-animation-direction: alternate;

    animation-duration: 6.5s;
    -webkit-animation-duration: 6.5s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: WaveEventDownForBG;
    -webkit-animation-name: WaveEventDownForBG;

    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes WaveEventUp {
    form{
        top:100%;
    }
    to{
        top:-50%;
    }
}

@-webkit-keyframes WaveEventDown {
    form{
        top:-50%;
    }
    to{
        top:100%;
    }
}

@-webkit-keyframes WaveEventDownForBG {
    form{
        top:-50%;
    }
    80%{
        top:100%;
    }
    to{
        top:100%;
    }
}

@keyframes WaveMove{
    from{
        right:   0%;
        left : -10%;
    }
    to{
        right: -10%;
        left :   0%;
    }
}