html {
    touch-action: none;
}

body{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#PhoneInitView{
    position: fixed;
    margin: 0px;
    background-position: center;
    background-color:aliceblue;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    padding: 0px;
    z-index: 999;
}


#PhoneIndexBackEnd{
    position: absolute;
    margin: 0px;
    background-position: center;
    background-repeat:no-repeat;
    top: 75px;
    left: -10%;
    right: -10%;
    width: 120%;
    height: 120%;
    padding: 0px;
    z-index: -999;
}

/*

#PhoneIndexBackEnd{
    position: absolute;
    text-align: center;
    margin: 0px;
    top: 75px;
    left:1%;
    z-index: -999;
}
*/

#PhoneIndexBackEnd2{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/PhoneMenuViewBackground.svg");
    top: -10%;
    left: -10%;
    right: -10%;
    width: 120%;
    height: 120%;
    padding: 0px;
    z-index: -1000;
}
#PhoneIndexBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/Background.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: 110%;
    top:calc(75px - 1.25%);
    left: 0%;
    right: 0%;
    bottom: 5%;
    padding: 0px;
    z-index: -998;
}

#PhoneIndexUpPartBG{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top:0%;
    left: 0%;
    right: 0%;
    z-index: -996;
}

#PhoneIndexUpPartChineseTitle, #PhoneIndexUpPartEnglishTitle{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top:2%;
    left: 5%;
    right: 5%;
    z-index: -995;
}

#PhoneIndexTitle{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 50%;
    left: 27.5%;
    right: 27.5%;
    bottom: 2.5%;
    z-index: -997;
}

#PhoneDownBtn{
    text-align: center;
    position: absolute;
    margin: 0px;
    bottom: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 2;
}

#PhoneMenuViewBackEnd{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/PhoneMenuViewBackground.svg");
    background-position: center;
    top: -10%;
    left: -10%;
    right: -10%;
    width: 120%;
    height: 120%;
    padding: 0px;
    z-index: -1000;
}

#PhoneMenuViewBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/AboutViewBackground.svg");
    background-position: top;
    background-repeat:no-repeat;
    top: -10%;
    right: 35%;
    width: 125%;
    height: 125%;
    padding: 0px;
    z-index: -999;
}

#PhoneSubTitle1{
    position: absolute;
    top: 50%;
    left: -5%;
    z-index: -998;
}

#PhoneSubTitle2{
    position: absolute;
    top: 60%;
    left: -5%;
    z-index: -998;
}

#PhoneSubTitle3{
    position: absolute;
    top: 70%;
    left: -5%;
    z-index: -998;
}


#PhoneMenuViewFacebookIcon{
    position: absolute;
    margin: 0px;
    width: 100%;
    left: 75%;
    right: 1.5%;
    bottom: 1.5%;
    z-index: -998;
}

#PhoneMenuViewTitle{
    position: absolute;
    margin: 0px;
    top: 0%;
    width: 100%;
    right:  -5%;
    z-index: -997;
    text-align: right;
}

#PhoneRightBtn{
    position: absolute;
    text-align: right;
    margin: 0px;
    top:  70%;
    right: 5%;
    z-index: 2;
}

#PhoneCtlViewMaskBlock{
    position: absolute;
    margin: 0px;
    left:0%;
    right:0%;
    top:0%;
    bottom: 0%;
    z-index: -998;
}

#PhoneCtlProjectViewMaskBlock{
    position: absolute;
    margin: 0px;
    left:0%;
    right:0%;
    top:0%;
    bottom: 0%;
    z-index: -998;
}

#PhoneProjectViewBackground{
    position: fixed;
    margin: 0px;
    background-image: url("../IMG/PhoneMenuViewBackground.svg");
    background-position: center;
    top: -10%;
    left: -10%;
    right: -10%;
    width: 120%;
    height: 120%;
    padding: 0px;
    z-index: -999;
}

#PhoneProjecTitleViewBackground{
    position: absolute;
    margin: 0px;
    top: -4.5%;
    left: -2.5%;
    right: -2.5%;
    z-index: -994;
}

#PhoneProjecTitleViewTitle{
    position: absolute;
    margin: 0px;
    top: 2.5%;
    left: 20%;
    right: -20%;
    z-index: -993;
}

#ProjecTitleTitleGroups{
    position: absolute;
    margin: 0px;
    top: 2.5%;
    left: 20%;
    right: -20%;
    width: 70%;
}

#ProjecTitleTitleGroups .col{
    text-align: center;
}

#ProjecTitleTitleButton1{
    padding-left: 0%;
    padding-right: 0%;
    z-index: -992;
}

#ProjecTitleTitleButton2{
    padding-left: 0%;
    padding-right: 0%;
    z-index: -992;
}

#ProjecTitleTitleButton3{
    position: absolute;
    margin: 0px;
    top: 5.5%;
    left: 60%;
    right: 12%;
    width: 28%;
    z-index: -990;
}

#PhoneBackBtn{
    position: absolute;
    margin: 0px;
    left: 2.5%;
    right: 57.5%;
    top: 0.5%;
    z-index: 2;
}

#PhoneProjectViewProjectImageBackgroundBlock{
    position: absolute;
    display:flex;
    text-align: justify;
    background-position: center;
    background-repeat:no-repeat;
    height: 45%;
    margin: 0px;
    bottom: 42.5%;
    left: 0%;
    right: 0%;
    padding: 0%;
    z-index: 3;
    line-height: 1.5;
    font-size: 90%;
    z-index: -996;
}

#PhoneProjectViewProjectImageBlock{
    position: absolute;
    display:flex;
    text-align: justify;
    margin: 0px;
    bottom: 42.5%;
    left: 0%;
    right: 0%;
    padding: 0%;
    z-index: 3;
    line-height: 1.5;
    font-size: 90%;
    z-index: -995;
}


#PhoneCtlMask{
    position: absolute;
    display:flex;
    text-align: center;
    background-color:#020202c0;
    color: #f2f2f2;
    height: 30%;
    margin: 0px;
    bottom: 12.5%;
    left: 0%;
    right: 0%;
    padding: 5%;
    z-index: 6;
    line-height: 1.5;
    font-size: 90%;
}

#PhoneCtlMaskBlock{
    position: absolute;
    display:flex;
    text-align: center;
    color: #f2f2f2;
    height: 30%;
    margin: 0px;
    bottom: 12.5%;
    left: 0%;
    right: 0%;
    padding: 5%;
    z-index: 5;
    line-height: 1.5;
    font-size: 90%;
}

#PhoneCtlMaskLeft{
    position: absolute;
    display:flex;
    text-align: center;
    height: 30%;
    width: 30%;
    margin: 0px;
    bottom: 12.5%;
    left: 0%;
    right: 70%;
    padding: 5%;
    z-index: 5;
    line-height: 1.5;
    font-size: 90%;
}

#PhoneCtlMaskRight{
    position: absolute;
    display:flex;
    text-align: center;
    height: 30%;
    width: 30%;
    margin: 0px;
    bottom: 12.5%;
    left: 70%;
    right: 0%;
    padding: 5%;
    z-index: 5;
    line-height: 1.5;
    font-size: 90%;
}

#PhoneProjectViewMetaTextBlock{
    position: absolute;
    display:flex;
    text-align: justify;
    background-color:#cccccc;
    height: 30%;
    margin: 0px;
    bottom: 12.5%;
    left: 0%;
    right: 0%;
    padding: 4%;
    z-index: 3;
    line-height: 1.5;
    font-size: 90%;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.PhoneProjectBTNMask{
    background-color:#f2f2f200;
    vertical-align: middle;
    text-align: center;
    padding: 4%;
    width: 35%;
    z-index: 3;
}

.PhoneProjectBTNMask:hover{
    background-color:#1f1f1f33;
    vertical-align: middle;
    text-align: center;
    padding: 4%;
    width: 35%;
    z-index: 3;
}

.PhoneProjectBTN{
    background-color:#dfdfdf;
    vertical-align: middle;
    text-align: center;
    padding: 4%;
    width: 35%;
    z-index: 3;
}

.PhoneProjectBTN:hover{
    background-color:#cccccc;
    vertical-align: middle;
    text-align: center;
    padding: 4%;
    width: 35%;
    z-index: 3;
}

#PhoneProjectViewFaceBookBTN{
    background-color:#dfdfdf;
    width: 30%;
    padding: 2%;
    text-align: right;
    z-index: 3;
}

#PhoneProjectViewBottomBTNBlock{
    position: absolute;
    display:flex;
    line-height: 1.5;
    height: 7.5%;
    margin: 0px;
    bottom: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 3;
}

#PhoneProjectViewBottomBTNMaskBlock{
    position: absolute;
    display:flex;
    line-height: 1.5;
    height: 7.5%;
    margin: 0px;
    bottom: 2.5%;
    left: 0%;
    right: 0%;
    z-index: 4;
}

#PhoneProjectAboutView, #PhoneProjectMumberView{
    position: absolute;
    text-align: justify;
    background-color:hsl(0, 0%, 95%);
    border-radius: 1.5%;
    margin: 0px;
    top:1%;
    bottom: 1%;
    left: 1.5%;
    right: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 6;
    line-height: 1.5;
    font-size: 90%;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#PhoneAboutTitle h3, #PhoneMumberTitle h3{ 
    text-align: center;
}

.PhoneProjectViewMask{
    position: absolute;
    background-color:#020202c0;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 4;
}

.PhoneCloseBTN{
    position: absolute;
    position: fixed;
    top: 2.5%;
    right: 3.5%;
    padding-right: 2.5%;
    padding-top: 1.5%;
    z-index: 7;
}

.PhoneProjectTypeBTNGroup{
    position: absolute;
    margin: 0px;
    top:20%;
    height: 80%;
    z-index: 90;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#PhoneProgectTypeListGroup{
    position: absolute;
    margin: 0px;
    top:15%;
    left: 2.5%;
    right: 2.5%;
    height: 85%;
    z-index: -995;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.PhoneNoneBlock{
    background-color: #be3e3e;
    height: 10%;
    width: 100%;
}

#PhonePackagingDesignBTN,#PhoneThreeDimensionalModelingBTN,#PhoneGraphicDesignBTN,#PhonePictureBooksBTN,#PhoneAlbumBTN,#PhoneAnimationBTN{
    /*background-image: linear-gradient(-45deg, #be3e3e, #65a0ff);*/
    border: 1px solid  #c3c3c3;
}

#PhonePackagingDesignBTN:hover,#PhoneThreeDimensionalModelingBTN:hover,#PhoneGraphicDesignBTN:hover,#PhonePictureBooksBTN:hover,#PhoneAlbumBTN,#PhoneAnimationBTN{
    /*background-image: linear-gradient(-45deg, #00c3ff, #6831ff);*/
}

.PhoneListBTN{ 
    border: 1px solid  #c3c3c3;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

#PhoneCantTransformViewBackground{
    position: absolute;
    margin: 0px;
    top:0%;
    bottom: 0%;
    left:0%;
    right: 0%;
    z-index: 999;
}

#PhoneCantTransform{
    position: absolute;
    margin: 0px;
    top:0%;
    bottom: 0%;
    left:0%;
    right: 0%;
    z-index: 998;
    padding: 20%;
    font-size: 150%;
    vertical-align: middle;
    text-align: center;
}

  
.RollBackBTN{
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;

    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;

    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-name: RollBackBTNEvent;
    -webkit-animation-name: RollBackBTNEvent;

    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    
}

  
@-webkit-keyframes RollBackBTNEvent {
    0% {
        -moz-transform:rotate(-15deg);
        -webkit-transform:rotate(-15deg);
        -ms-transform:rotate(-15deg);
    }
    100% {
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
    }
}
  